body {
	margin:0;
	padding:0;
	background-repeat:repeat-x;
	font-family:"����";
	font-size:12px;
	font-weight:normal;
}

#board_plus{
	width:96%;
	margin: auto;
	margin-top: 5%;
	min-height:50px;
	padding:15px;
	overflow:hidden;
	line-height:150%;
	border:solid 1px #9DC6CA;
}

#board_list{
	margin: auto;
}

.board{
      width:96%;
	margin: auto;
	margin-top: 5%;
	min-height:200px;
	padding:15px;
	overflow:hidden;
	line-height:150%;
	border:solid 1px #9DC6CA;
}